
$animate-block-duration : 1000ms;

html,body{
    background-color: #000;
    height: 100%;
    padding: 0px;
    margin: 0px;
    color: #ffffff;
}

header{
    position: fixed;
    z-index: 1000;
    width: 100%;
    display: flex;
}

section{

    display: flex;
    height: 100%;
    background-image: url("../images/section-bg-2.jpg");
    background-size: cover;


    &>div{
        padding: 10px;
        box-sizing: border-box;

        &.box{
            height: 100%;
            position: relative;
        }
    }

    &.animate-block{
        &>.box{
            &:after{
                background-color: #000000;
                position: absolute;
                width: 0px;
                height: 100%;
                display: block;
                content: ' ';
                top: 0px;
                transition-property: width;
                transition-timing-function: linear;
                transition-duration: $animate-block-duration;
                z-index: 50;
            }

            &:first-child:after{
                left: 0px;
            }

            &:last-child:after{
                right: 0px;

            }

            .box-content{
                opacity: 0;
                position: relative;
                z-index: 100;
                transition-duration: $animate-block-duration/2;
                transition-property: opacity;
                transition-delay: $animate-block-duration;
            }
        }

        &-active{
            &>.box{
                &:first-child:after{
                    width: 50%;
                }
                &:last-child:after{
                    width: 100%;
                }

                .box-content{
                    opacity: 1;
                }
            }
        }

        &-reverse{
            &>.box {
                &:first-child:after {
                    left: auto;
                    right: 0px;
                    width: 100%;
                }

                &:last-child:after {
                    width: 100%;
                    left: 0px;
                }
            }

            &.animate-block-active{
                &>.box{
                    &:first-child:after{
                        width: 50%;
                    }
                    &:last-child:after{
                        width: 0px;
                    }
                }
            }

        }

    }

}