
$animate-block-duration : 750ms;
$color-primary: #199D97;

@import "sass/_fonts";
@import "sass/_icons";
@import "sass/_default";
@import "sass/_columns";
@import "sass/_modal";
@import "sass/_navbar";
@import "sass/_slider";


.columns{

  @media(min-width: 1024px){
    padding-top: 176px;
  }

  @media(min-width: 1280px){
    padding-top: 246px;
  }

  @media(min-width: 1680px) {
    padding-top: 200px;
  }
}



.btn{
  font-size: 16px;
  border: none;
  border-radius: 0px;
  position: relative;
  z-index: 1;

  &:before{
    position: absolute;
    background: #0a0a0a;
    width: 0%;
    height: 100%;
    top: 0px;
    left: 0px;
    content: ' ';
    z-index: -1;
    transition: width 300ms;
  }

  &:hover:before{
    width: 100%;
  }

  .btn-default{
    background-color: #fff;
  }

  &.btn-lg{
    border-radius: 40px;
    font-size: 18px;
    text-transform: uppercase;
    padding: 25px 82px;
  }

  &.btn-primary{
    background-color: transparent;
    &:before{
      position: absolute;
      background-color: #199D97;
    }

  }

  &.btn-active{
    font-weight: bold;
    background-color: transparent;

    &:hover:before{
      width: 0px;
    }

    &.btn-primary{
      color: #199D97;
    }
  }
}

section{

    display: flex;
    height: 100%;
    background-size: cover;

    &>div{
        box-sizing: border-box;

        &.box{
            height: 100%;
            position: relative;
            flex: 1;

            .box-content{
                padding: 200px 100px 0px 100px;
            }

            &:last-child{
                .box-content{
                    padding-left: 150px;
                    padding-right: 150px;
                }
            }

            .box-links{
                width: 100%;
                position: absolute;
                left: 0px;
                top: auto;
                bottom: 130px;
                padding: 0px 150px;
                text-align: right;
                z-index: 2;

                .link-back{
                    font-size: 12px;
                    letter-spacing: 0.04em;
                    display: inline-block;
                    margin-right: 10px;

                }

                .link-next{

                    display: inline-block;
                    position: relative;
                    padding-right: 140px;
                    color: #D3DCDF;
                    font-size: 18px;
                    &:hover{
                        text-decoration: none;
                    }


                    &:before {
                        width: 130px;
                        height: 16px;
                        top: 50%;
                        right: 0px;
                        transform: translateY(-50%);
                        position: absolute;
                        background-image: var(--icon-next);
                        content: ' ';
                    }
                }

            }

        }
    }

    &.bg-dark{
        &:after{
            content: ' ';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            background-color:rgba(0, 0, 0, 0.6);
        }
    }

    &.content-list{
        &>div{
            &:first-child{
                flex: 2;
                width: 40%;
            }
            &:last-child{
                flex: 3;
                width: 60%;
                .box-content{
                    padding-left: 0px;
                    padding-right: 0px;
                }
            }
        }
    }

    &.animate-block{
        &>.box{
            &:after{
                background-color: #000000;
                position: absolute;
                width: 0px;
                height: 100%;
                display: block;
                content: ' ';
                top: 0px;
                transition-property: width;
                transition-timing-function: linear;
                transition-duration: $animate-block-duration;
                z-index: 50;
            }

            &:first-child:after{
                left: 0px;
            }

            &:last-child:after{
                right: 0px;

            }

            .box-content{
                opacity: 0;
                position: relative;
                z-index: 100;
                transition-duration: $animate-block-duration/2;
                transition-property: opacity;
                transition-delay: $animate-block-duration;
            }
        }

        &-active{
            &>.box{
                &:first-child:after{
                    width: 50%;
                }
                &:last-child:after{
                    width: 100%;
                }

                .box-content{
                    opacity: 1;
                }
            }
        }

        &-reverse{
            &>.box {
                &:first-child:after {
                    left: auto;
                    right: 0px;
                    width: 100%;
                }

                &:last-child:after {
                    width: 100%;
                    left: 0px;
                }
            }

            &.animate-block-active{
                &>.box{
                    &:first-child:after{
                        width: 50%;
                    }
                    &:last-child:after{
                        width: 0px;
                    }
                }
            }
        }
    }
}

.right-block:after{
    content: ' ';
    width: 100px;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: black;
}

.arrow {

    $items: (
        'prev',
        'next'
    );

    $icon-width: 38px;
    $icon-height: 26px;
    $icon-indent: 20px;
    $icon-padding: 24px;
    $icon-animation-speed: 300ms;

    position: relative;
    background: none;
    border: none;
    min-width: $icon-width;

    &:before, &:after{
        content: ' ';
        background-repeat: no-repeat;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    &:after{
        right: 0px;
        width: $icon-width;
        height: $icon-height;
    }

    &:before{
        background-color: rgba(0,0,0,0.5);
        right: ($icon-padding/2)*-1;
        width: $icon-width + $icon-padding;
        height: $icon-height + $icon-padding;
    }

    @each $item in $items {
        &-#{$item} {
            &:after{
                background-image: var(--icon-#{$item});
            }
        }
    }

    &.arrow-text{
        font-weight: bold;
        font-size: 36px;
        text-transform: uppercase;

        &:after, &:before{
            right: ($icon-indent + $icon-width)*-1;
        }

        &:before{
            right: ($icon-indent + $icon-width + ($icon-padding/2))*-1;
        }

        &:hover{
            text-decoration: none;
        }

        &.arrow-animate{
            &:after{
                overflow: hidden;
                background-position: $icon-width*-1 0px;
                transition: background-position $icon-animation-speed;
            }

            &:before{
                transition-delay: $icon-animation-speed/2;
            }

            &:hover{
                &:after{
                    background-position: 0px 0px;
                }
            }


        }
    }

    &.arrow-animate{

        &:before{
            opacity: 0;
            transition: opacity $icon-animation-speed;
        }

        &:hover{
            &:before{
                opacity: 1;
            }

            &:after{
                background-position: 0px 0px;
            }
        }
    }
}

.loader{
    width: 100px;
    height: 100px;
    display: none;
    background-image: var(--icon-loader);
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 120;

    &:before{
        content: ' ';
        background-repeat: no-repeat;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

}

.animated-bg{

    position: relative;
    overflow: hidden;

    &:before{
        position: absolute;
        display: block;
        width: 0%;
        height: 100%;
        top: 0px;
        left: 0px;
        background-color: $color-primary;
        content: ' ';
    }

    &:hover{
        color: #ffffff !important;
    }

}

.main-logo{
    margin-left: 100px;
    margin-top: 160px;
}

.main-about {

    @media (min-width: 1920px) {
        width: 484px;
        height: 438px;
    }

    padding: 90px 79px;
    position: absolute;
    bottom: 0px;
    left: 326px;
    line-height: 26px;
    font-size: 18px;
    font-weight: 400;
    background-color: black;
    border-left: 1px solid white;

    b{
        font-size: 24px;
    }

}

.main-content{
    p{
        padding-bottom: 10px;
    }
}

.form-group {

    position: relative;
    left: -1px;
    margin-bottom: 40px;

    & label{
        font-weight: lighter;
        font-size:20px;
    }

    .form-control{
        background: transparent;
        color: #ffffff;
        border: none;
        border-bottom: 2px solid rgba(255, 255, 255, 0.3);
        border-radius: 0px;
        padding-left: 0px;
        height: 43px;

        &:focus{
            box-shadow: none;
            outline:none;
        }
    }

    .help-block{
        position: absolute;
        bottom: -30px;
        font-size: 12px;
    }

    &.has-error{

        .form-control{
            border-color: #F26262;
            color: #F26262;
        }

        .help-block{
            color: #F26262;
        }

    }



    .select2-container--default{

        .select2-selection--single{
            background: rgba(255, 255, 255, 0.2);
            border: none;
            border-radius: 0px;
            height: 43px;


            .select2-selection__rendered{
                color: #fff;
                font-size: 14px;
                padding: 7px 20px;
            }

            .select2-selection__arrow{
                b{
                    background: url("../images/dropdown-arrow.svg");
                    background-repeat: no-repeat;
                    border: none;
                    width: 19px;
                    height: 11px;
                    right: 15px;
                    top: 16px;
                    left: auto;
                    margin: 0px;
                }
            }
        }

        .select2-dropdown{
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 0px;
        }


    }



}

.box-modal{
    position: absolute;
    width: 100%;
    margin-right: -1000%;
    height: 100%;
    right: 0px;
    top: 0px;
    background: #ffffff;
    color: #73858B;
    z-index: 1000;
    transition: margin-right 1000ms;

    &.box-modal-active{
        margin-right: 0%;

        .box-content{
            z-index: 130;
        }

    }

    &>div.box-content{
        padding-top: 20px !important;
    }



    .modal-btn-close{
        background-image: var(--icon-close);
        width: 24px;
        height: 24px;
        position: absolute;
        display: block;
        z-index: 1000;
        top: 30px;
        right: 30px;
    }

    h3{
        color: #626262;
        text-align: center;
        font-size: 36px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        margin-bottom: 75px;
    }

    .form-group {


        input[type=file]{
            display: none;
        }

        input[type=file] + a{
            cursor: pointer;
            color: #626262;
            font-size: 14px;
            position: relative;
            display: inline-block;



            &:after{
                position: absolute;
                content: '...';
               // border: 1px solid #626262;
                padding: 0px 4px;
                right: -25px;
            }

            &:hover{
                color: #626262;

                //&:after{
                //   background-color: #626262;
                //    color: #fff;
                //}

            }

        }

    }

    .form-control {
        border-bottom: 1px solid #E5E5E5;
        box-shadow: none;
        outline:none;
        color: #73858B;
    }

    .form-info{
        padding-bottom: 100px;
    }

    input[disabled]{
        background: #F6F3F3;
        color: #0B0B0B;
        border-bottom: none;
        padding-left: 18px;
    }

    input[type=submit],button[type=submit]{
        border: 1px solid #B6C6CC;
        border-radius: 50px;
        padding: 15px 60px;
        text-align: center;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #73858B;

    }

    .select2-container--default{

        .select2-selection--single{
            background: #E5E5E5;
            border: none;
            border-radius: 0px;
            height: 43px;

            &:focus{
                outline: 0;
            }


            .select2-selection__rendered{
                color: #73858B;
                font-size: 14px;
                padding: 7px 20px;
            }

            .select2-selection__arrow{
                b{
                    background: var(--icon-dropdown) no-repeat;
                    border: none;
                    width: 19px;
                    height: 11px;
                    right: 15px;
                    top: 16px;
                    left: auto;
                    margin: 0px;
                }
            }
        }



    }

}

.work-with-us{
    padding-left: 100px;

    h1{
        font-weight: 600;
        font-size: 165px;
        line-height: 145px;
        letter-spacing: -4px;
        text-transform: uppercase;
        margin: 0px;

        span{
            font-size: 65px;
            letter-spacing: -1px;
            font-weight: 800;
        }
    }
}

.work-with-us-btn{
    position: absolute;
    padding-left: 0px;
    bottom: 60px;
}

.events-form{
    h1{
        font-weight: 400;
        font-size: 122px;
        line-height: 122px;
        margin: 0px;
        span{
            font-size: 75px;
            letter-spacing: -1px;

        }
    }
}

.events {




    .events-item{
        position: relative;

        border: 1px solid #333333;
        overflow: hidden;
        display: inline-block;
        margin-right: 40px;

        &:last-child{
            margin-right: 0px;
        }

      img{
        max-width: 100%;
      }

        .events-item-info{
            position: absolute;
            box-sizing: border-box;
            width: 100%;
            bottom: -100px;
            height: 230px;
            padding: 0px 60px;
            background-color: rgba(0,0,0,0.3);
            transition: bottom 150ms;
            -webkit-box-shadow: 0px -2px 13px 0px rgba(0,0,0,0.38);
            -moz-box-shadow: 0px -2px 13px 0px rgba(0,0,0,0.38);
            box-shadow: 0px -2px 13px 0px rgba(0,0,0,0.38);

            &:hover{
                bottom: 0px;
            }

            .events-item-title{
                font-size: 24px;
            }

            .events-item-date{
                font-size: 18px;
            }

            .events-item-btn{
                position: absolute;
                bottom: 60px;
                left: 50%;
                transform: translateX(-50%);
                background-color: $color-primary;
                width: 50%;
                height: 40px;
                line-height: 40px;
                text-align: center;
                text-transform: uppercase;
            }
        }

        &:after{
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.3);
            content: ' ';
            top: 0px;
            left: 0px;
        }

        &:hover{

            &:after{
                display: none;
            }


        }

    }

    .slider__control {

        background: transparent;
        bottom: -50px;
        top: auto;

        &, &:before {
            width: 130px;
            height: 16px;
        }

        &.slider__control_left {
            &:before {
                background-image: url("data:image/svg+xml,%3Csvg width='95' height='8' viewBox='0 0 95 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.646447 4.35355C0.451184 4.15829 0.451184 3.84171 0.646447 3.64645L3.82843 0.464466C4.02369 0.269204 4.34027 0.269204 4.53553 0.464466C4.7308 0.659728 4.7308 0.976311 4.53553 1.17157L1.70711 4L4.53553 6.82843C4.7308 7.02369 4.7308 7.34027 4.53553 7.53553C4.34027 7.7308 4.02369 7.7308 3.82843 7.53553L0.646447 4.35355ZM95 4.5H1V3.5H95V4.5Z' fill='white'/%3E%3C/svg%3E%0A");            }
        }

        &.slider__control_right {
            right: 124px;
            &:before {
                background-image: url("data:image/svg+xml,%3Csvg width='130' height='16' viewBox='0 0 130 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M129.707 8.7071C130.098 8.31657 130.098 7.68341 129.707 7.29288L123.343 0.928921C122.953 0.538397 122.319 0.538397 121.929 0.928922C121.538 1.31945 121.538 1.95261 121.929 2.34314L127.586 7.99999L121.929 13.6568C121.538 14.0474 121.538 14.6805 121.929 15.0711C122.319 15.4616 122.953 15.4616 123.343 15.0711L129.707 8.7071ZM8.74228e-08 9L129 8.99999L129 6.99999L-8.74228e-08 7L8.74228e-08 9Z' fill='white'/%3E%3C/svg%3E");
            }
        }
    }


}

.event{



    h1{
        font-weight: 500;
        font-size: 64px;
        margin-bottom: 64px;
    }

    .event-info{


        .event-info-row{
            display: flex;
            padding-bottom: 25px;

            span.label{
                font-size: 14px;
                letter-spacing: 0.04em;
                color: #D3DCDF;
                padding: 0px;
                font-weight: normal;
                text-align: left;
                display: block;
                margin-bottom: 30px;
            }

        }


        .event-date{

            flex: 1;

            span{
                display: block;
            }



            .day{
                font-size: 24px;
                letter-spacing: 0.04em;

            }

            .year{
                font-size: 96px;
                letter-spacing: 0.04em;
                font-weight: bold;

            }

        }

        .event-place{

            flex: 1;
            padding-left: 70px;

            .label{
                margin-bottom: 18px;
            }

            .city{
                font-size: 36px;
                font-weight: 100;
                letter-spacing: 0.04em;
                text-transform: capitalize;
                color: #D3DCDF;
                display: block;
                margin-bottom: 25px;
            }

            .name{
                font-weight: bold;
                font-size: 24px;
                letter-spacing: 0.04em;
                text-transform: capitalize;
                color: #8DA1A6;

            }

        }

        .event-signup{

            flex: 2;

            .btn{

                font-size: 20px;
                font-weight: bold;
                padding: 25px;
                letter-spacing: 0.04em;

                &:before{
                    width: 100%;

                }

            }
        }

        .event-price{

            flex: 1;
            display: flex;
            span{

                flex: 1;
                align-items: center;
                justify-content: center;
                align-self: center;

                &.value{
                    font-size: 36px;
                    letter-spacing: 0.04em;
                    color: #199D97;
                }

            }

        }

        .event-time{
            flex: 1;

            .label{
                margin-bottom: 18px;
                line-height: normal;
            }

            .day{
                font-size: 36px;
                font-weight: 100;
                letter-spacing: 0.04em;
                text-transform: capitalize;
                color: #D3DCDF;
                display: block;
                margin-bottom: 25px;
            }

        }

        .event-age{

            flex: 1;


            span{
                display: inline !important;


                &.value{

                }

            }

        }

    }

    .event-content{
        font-size: 24px;
        letter-spacing: 0.04em;
        text-transform: capitalize;
        color: #FFFFFF;
    }



}

.peoples{
    padding-left: 150px;
}

.players{

    .players-item{

        display: inline-block;
        padding-right: 40px;
        position: relative;

      &:after {
        content: ' ';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background-color: rgba(0, 0, 0, 0.3);
      }

        img{
            max-width: 100%;
        }

        .players-item-info{
            position: absolute;
            min-height: 150px;
            bottom: 0px;
            padding: 0px 50px;
        }

        .players-item-name{
            font-weight: bold;
            font-size: 24px;
            line-height: 30px;
            margin: 0px 0px 30px 0px;

            span{
                display: block;
            }

        }
        .players-item-club{
            font-size: 18px;
            letter-spacing: 0.04em;
            color: #E1EAED;
            font-weight: 100;
        }



    }

}

.news {

  .news-item {

    display: inline-block;
    padding-right: 40px;
    position: relative;

    img{
      max-width: 100%;
    }

    &:after {
      content: ' ';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      background-color: rgba(0, 0, 0, 0.3);
    }

    .news-item-info{
      position: absolute;
      min-height: 150px;
      bottom: 0px;
      padding: 0px 50px;
    }

  }

}


.select2-dropdown{
    border-color: #E5E5E5;
    color: #73858B;

    .select2-results__option{

        font-size: 14px;
        padding: 7px 20px;
        height: 43px;
        line-height: 29px;

    }

    .select2-results__option--highlighted[aria-selected]{
        background-color: $color-primary;
    }

}