.columns{
  display: flex;
  height: 100%;
  background-size: cover;


  .column{
    height: 100%;
    position: relative;
    flex: 1;


    .column-content{
      position: relative;

      @media(min-width: 1024px) {
        padding-left: 45px;
        padding-right: 40px;
      }

      @media(min-width: 1440px) {
        padding-left: 75px;
        padding-right: 50px;
      }

      @media(min-width: 1680px) {
          padding-left: 100px;
          padding-right: 100px;
      }



    }

  }

  .column-2{
    flex: 2;
  }

  .column-3{
    flex: 3;
  }



}