

- var topMenu = {'events.html':'Наши мероприятия','players.html':'Футболисты','news.html':'Новости'}
- var monthList = ['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Октябрь','Сентябрь','Ноябрь','Декабрь']

