include ./includes/_mixins.jade

doctype html
html
    +head('Главная')
    body
        include includes/_navbar.jade
        div.wrap
            section.main-slider(style="background-image: url('images/section-bg-1.jpg')")
                .box
                    .box-content
                        .main-logo
                            img(src='images/logo_2.svg' alt='Azess Football Agency')
                            .main-about
                                p
                                    b Azess
                                    |–футбольное агентство международного уровня, созданное для предоставления
                                    |интересов футбольных игроков во всем мире. Мы начали свою деятельность с 30.03.18
                                    |и уже успели зарекомендовать себя как надежное футбольное агентство полного цикла.
                .box.right-block
                    .box-content.main-content
                        p Мы предоставляем массу возможностей футболистам. Осуществляем: юридическую,
                          | финансовую, физическую и психологическую поддержку, а также проводит PR-компании.<br>
                          | Своим спортсменам мы готовы предоставить услуги тренера по физической подготовке,
                          | тренера по технике, тактике и услуги реабилитолога.
                        p Мы сотрудничаем с отелем «Dance Hotel» и даем возможность проживания в период селекционных
                          |просмотров в Москве иногородним игрокам.
                        p Организуем и проводим: выездные тренировочные и селекционные сборы. Также занимаемся
                          |проведением мастер-классов для тренеров и юных футболистов в различных регионах России.
                        p Координируем индивидуальный
                          | просмотр игроков для заключения контракта, а также осуществляем профессиональный скаутинг.
                        p Мы нацелены на долгосрочное сотрудничество с каждым игроком, активно развиваемся и
                          | наращиваем свои масштабы. Нам можно доверить свою карьеру
                        button.arrow.arrow-next.arrow-animate.arrow-text.work-with-us-btn(data-toggle='ajax-form' data-url='form.html' data-container='.main-slide')= 'Начни работать с нами'


        include includes/_footer.jade
